################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Ak.Sample.Core.Aspect/obj
/Ak.Sample.Core.Aspect/bin
/Ak.Sample.Core.Aspect.Test/bin
/Ak.Sample.Core.Aspect.Test/obj
